$shadow-color: rgb(204, 204, 204);
$active-dropdown-background-color: #f8f8f8;
$font-size: 14px;


//ToDo: продумать над адаптивностью (виджет должен подстраивается под родительский контейнер)
#hotel-widget-container-wrapper {
  * {
    outline: 0;
    font-family: sans-serif;
    box-sizing:border-box;
  }

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hotel-widget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 400px;

  border-radius: 5px;
  box-shadow: 0 0 2px $shadow-color;

  span.city-choose-text {
    color: #555;
    padding: 5px 0 10px;
    display: inherit;
    text-align: center;
  }

  .city-dropdown-wrapper {
    display: inline-block;

    position: relative;

    width: 300px;

    color: #474747;
    background-color: white;

    text-align: left;
    font-size: $font-size;

    border-radius: 5px;
    box-shadow: 0 0 2px $shadow-color;

    transition: all .5s ease;

    .city-search-input {
      border: none;
      font-size: $font-size;
      transition: all .5s ease;
      width: 100%;
      padding: 10px;
    }

    &:hover {
      box-shadow: 0 0 4px $shadow-color;
    }

    &:active, &.active:hover, &.active {
      background-color: $active-dropdown-background-color;
      .city-search-input {
        background-color: $active-dropdown-background-color;
      }
    }

    .city-dropdown-list {
      display: none;

      position: absolute;
      left: 0;
      z-index: 9;

      list-style: none;

      background-color: $active-dropdown-background-color;

      width: 100%;
      max-height: 144px;
      overflow-y: auto;
      overflow-x: hidden;

      margin-top: 1px;
      padding: 0;

      box-shadow: 0 1px 2px $shadow-color;
      border-radius: 0 1px 5px 5px;

      li {
        padding: 10px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #f2f2f2;
        }

        &:active {
          background-color: #e2e2e2;
        }
      }
    }
  }

  .hotel-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;

    width: 300px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 5px 20px;

    color: #474747;
    background-color: white;

    border-radius: 5px;
    box-shadow: 0 0 2px $shadow-color;

    li {
      transition: all .2s ease-in-out;

      width: 100%;
      min-height: 100px;

      border-radius: 5px;
      box-shadow: 0 0 2px $shadow-color;

      margin: 5px 0;

      display: flex;
      flex-direction: row;

      img {
        flex: 1;
        width: 133px;
        height: 100px;
      }

      .hotel-description {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 12px;

        .hotel-description-name {
          font-weight: bold;
        }

        span {
          text-align: center;
        }
      }
    }
  }
}
